body {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/lambdassitepics/indexbg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center1 {
    margin: 20vh auto ;

    width: auto;
    text-align: center;
    color:rgba(255, 255, 255, 0.7);
    font-family: moon;
    font-size: max(min(15vh,8.43vw), 80px);
    padding: 10px;
}

td i {
    font-size: max(max(5vh,2.81vw), 40px);
}

.small1 {
    font-size: max(min(3vh,1.68vw),30px);
}

.small1:hover {
    cursor: pointer;
    font-weight: bolder;
    background: -webkit-linear-gradient(rgb(61, 192, 0), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: min(3.5vh,1.97vw);
}

.small1:hover span {
    display:none;
}

.small1:hover:before {
    content:"Enter";
}

@font-face{
    font-family:moon;
    src:url(/fonts/Moon2.0-Regular.otf);
}

table {
    margin-top: 1.5vh;
}

table td{
    
    color: white;
    padding: 2vh;
}

img{
    height: max(max(4vh,2.25vw), 40px);
}

i.fa-facebook:hover {
    background: -webkit-linear-gradient(rgb(83, 164, 230), rgb(0, 65, 243));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

i.fa-instagram:hover {
    background: -webkit-linear-gradient(-2.4turn, #9900ff, #ff0000, #ffd000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}